<div class="home">
  <div class="home-frame">
    <h2>Coming soon...</h2>
  </div>
  <div class="home-right-panel">
    <div class="home-right-panel-content">
      <p><b>Phone:</b> +34 634 638 129</p>
      <p><b>Email:</b> office@cristinapatru.com</p>
      <div class="links">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-linkedin-in"></i>
      </div>
    </div>
  </div>
</div>
